table {width:500px; margin-left:auto; margin-right:auto; font-family:Arial, Helvetica, sans-serif;background-color: yellow}

tr, td {border:1px solid black; padding:3px; vertical-align: top;}

img { width:100%;}

td#image {width: 70%}

td#last{width: 30%}

td.thirtyfive{width: 35%}

body{opacity: 0.5;background-image: url(https://e1.365dm.com/18/09/768x432/skysports-liverpool-daniel_4425634.jpg?20180918205615)   
}

p.scroll {
    Background-color: lime;
    Width: 250px; height: 300px;
    Overflow: scroll;
    Padding-right:10px;
    Padding-left:10px;
    }
